/.project
/.pydevproject
*~
*.pyc
Makefile.in
Makefile
aclocal.m4
autom4te.cache/
config.log
config.status
configure
install-sh
*.pc
.idea
missing
py-compile
INSTALL
tests/run_test.py
tests/run_thread_test.py
