Source: repositoryhandler
Section: misc
Priority: optional
Maintainer: Luis Cañas Díaz <lcanas@libresoft.es>
Build-Depends: cdbs, debhelper (>= 8), python-support, python (>= 2.4)
Standards-Version: 3.9.2
Homepage: http://projects.libresoft.es/projects/repositoryhandler

Package: repositoryhandler
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-central
Description: python library for handling code repositories
 Repository Handler is a python library for handling code repositories
