Source: repositoryhandler
Section: misc
Priority: optional
Maintainer: Santiago Dueñas <sduenas@libresoft.es>
Build-Depends: cdbs, debhelper (>= 8), python-support, python (>= 2.4)
Standards-Version: 3.9.2
Homepage: http://metricsgrimoire.github.com/RepositoryHandler

Package: repositoryhandler
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}, python-central
Description: python library for handling code repositories
 Repository Handler is a python library for handling code repositories
